AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterClass: true
  BeforeElse: true
  BeforeWhile: true
  SplitEmptyFunction: false
BreakBeforeBraces: Custom
ColumnLimit: 100
IndentCaseLabels: true
IndentWidth: 4
SpaceAfterCStyleCast: true
TabWidth: 4
AccessModifierOffset: -4
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
Cpp11BracedListStyle: false
BreakAfterAttributes: Leave # Always, Leave, Never
